<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>ログイン管理</title>
</head>
<body>
    <div class="text-bg-info p-3">
        <div class="text-center">
            <h1>生徒台帳管理システム</h1>
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}
            <!-- <div class="alert alert-danger" role="alert">
                もう一度入力してください
              </div> -->
            <form method="post">
                <label>ID</label>
                <input type="text" name="id" required>
                <br>
                <label>PASS</label>
                <input type="password" name="password" required>
                <br>
                <input type="submit" value="ログイン">
            </form>
        </div>
    </div>
</body>
</html>












